NEST_SLI/test/trial_run
NEST_SLI/test/data
NEST_SLI/*.dat
NEST_SLI/*.gdf
/NeuroML2/Test_export.net.svg
/NEST_SLI/firing_rates.png
/NEST_SLI/rasterplot.png
/NEST_SLI/sim_script.sh
/NEST_SLI/test/dataLarge
/NeuroML2/*.png
/NeuroML2/*.pov
/PyNEST/data
*.pyc
/PyNN/LEMS_Sim_TestExport_nrn.py
/PyNN/clean.sh
/PyNN/results
/NeuroML2/*.ini
*.py0
/PyNN/scrat.py
/NEST_SLI/clean.sh
/PyNEST/run.sh
/NEST_SLI/README.txt
/NEST_SLI/firing_rates.*.png
/NEST_SLI/rasterplot.*.png
/PyNN/LEMS_Sim_MicrocircuitNoInput.xml
/PyNN/*.gv*
/PyNN/jsbml.log
/PyNN/libjhdf5.so
/PyNN/*.nml.h5
/PyNN/*.mod
/PyNN/*.net.nml
